<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Document</title>
    <!-- Favicon -->

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Link Google Font -->

    <!-- Link Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- Link AXIOS/AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- Link foglio di stile personale -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <!-- MAIN -->
    <main>
        <section id="app">
            <div class="header">Mail Generator</div>
            <div class="container">
                <ol>
                    <li v-for="element in mailList"> {{element}} </li>
                </ol>
            </div>
            <div class="buttons">
                <div v-if="mailList.length > 0" @click="deleteList" class="btn">Pulisci</div>
                <div v-else @click="mailGen" class="btn">Genera</div>
                <input type="number" min="1" max="15" v-model="mailNumber">
            </div>
        </section>
    </main>

    <!-- Link Script Javascript -->
    <script src="js/script.js" charset="utf-8"></script>
</body>
</html>